{% extends "base.html.twig" %}

{% block body %}

<div class="container w-50 my-5">

        {{ form(formulaire)}}
	
    <a type="button" class="btn btn-primary" href="{{ path('app_dashboard') }}">Retour</a>
    </div>




{% endblock %}