{% extends 'base.html.twig' %}

{% block body %}
    <h1>Modifier les rôles de {{ user.email }}</h1>
    {{ form_start(form) }}
        {{ form_widget(form) }}
        <button type="submit">Sauvegarder</button>
    {{ form_end(form) }}
{% endblock %}
